fastapi
uvicorn[standard]
pydantic>=2.9.0
pydantic-settings>=2.5.0
supabase
python-jose[cryptography]
passlib[bcrypt]
resend
pdfplumber
python-multipart
httpx==0.27.0
python-dotenv
openai>=1.56.0
google-generativeai==0.7.0
pymupdf
pytesseract
pillow
groq
sentence-transformers
torch
